<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mitiku.dicegame"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".DiceGameActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".WelcomePage"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.mitiku.dicegame.CLEARSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".UserPage"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.mitiku.dicegame.USERSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".Info"
                  android:label="@string/app_name">
                  <intent-filter>
                <action android:name="com.mitiku.dicegame.INFOSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          
		<activity android:name=".LoaderPage"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.mitiku.dicegame.LOADERSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     
        	<activity android:name=".TheGame"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.mitiku.dicegame.GAMESCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>